*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f3f3f3;
}

/* NAVBAR */
nav{
    background:#111;
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00bcd4;
}

/* HERO */
.hero{
    background:#0d0d0d;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:30px;
    color:#ccc;
}

.shop-btn{
    background:#00bcd4;
    color:white;
    padding:12px 30px;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
}

.shop-btn:hover{
    background:#0097a7;
}

/* TITLES */
.page-title{
    padding:40px 50px 20px 50px;
    font-size:36px;
}

.center-title{
    text-align:center;
}

/* PRODUCTS */
.products{
    padding:0 50px 60px 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:40px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:250px;
    object-fit:contain;
}

.product-name{
    font-weight:bold;
    margin:15px 0 10px 0;
}

.price{
    font-weight:bold;
    margin-bottom:10px;
}

.cart-btn{
    width:100%;
    padding:10px;
    border:none;
    background:#111;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.cart-btn:hover{
    background:#00bcd4;
}

/* CART TABLE */
.cart-wrapper{
    width:80%;
    margin:0 auto 60px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

.cart-table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:30px;
}

.cart-table th,
.cart-table td{
    border:1px solid #ddd;
    padding:15px;
    text-align:center;
}

.cart-table th{
    background:#111;
    color:white;
}

.subtotal-box{
    text-align:right;
}

/* CHECKOUT FORM */
.checkout-wrapper{
    width:60%;
    margin:0 auto 60px auto;
    background:white;
    padding:40px;
    border-radius:10px;
}

.checkout-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group input,
.form-group textarea,
.form-group select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.form-row{
    display:flex;
    gap:20px;
}

.form-row .form-group{
    flex:1;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}
